@*<div class="navbar navbar-inverse navbar-fixed-top .navbar .navbar-expand{-sm|-md|-lg|-xl}">
        <div class="container">
            <div class="navbar-header">
                <a href="~/Home/Index"><img src="~/Content/images/TheatreLogo.png"/></a>

                <span><a href="#" class="icon-bar">Production</span>
                <span><a href="#" class="icon-bar">Rental</span>
                <span><a href="#" class="icon-bar">Blog</span>
            </div>
        </div>
    </div>*@



@* ORIGINAL NAV IGNORED *@

<nav class="navbar navbar-expand-lg navbar-light sticky-top nav-pills nav-fill ">
    <div class="container-fluid">
        <a href="~/Home/Index">
            <img src="~/Content/images/TheatreLogo.png" class="navbar-icon-red" />
        </a>

        <div class="navbar--hamburger">
            <!-- Mobile hamburger menu -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav">

                    <!-- Mobile: Home -->
                    <li class="nav-item navbar-hamburger--navitem">
                        <a class="nav-link navbar-hamburger--navlink" href="~/Home/Index">TheaterCMS</a>
                    </li>

                    <!-- ⭐ MOBILE: Developers Link Added -->
                    <li class="nav-item navbar-hamburger--navitem">
                        @Html.ActionLink("Developers", "SignIn", "Home", null,
                            new { @class = "nav-link navbar-hamburger--navlink" })
                    </li>

                    <!-- Mobile: Production dropdown -->
                    <li class="nav nav-item dropdown navbar-hamburger--navitem">
                        <a class="nav nav-link dropdown-toggle navbar-hamburger--navlink" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Production
                        </a>
                        <div class="dropdown-menu dropdownbckgrndclr navbar-hamburger--dropdownmenu">
                            @Html.ActionLink("Cast Members", "Index", "CastMembers", new { Area = "Prod" }, new { @class = "dropdown-item dropdowntxt" })
                            @Html.ActionLink("Production Photos", "Index", "ProductionPhotoes", new { Area = "Prod" }, new { @class = "dropdown-item dropdowntxt" })
                            @Html.ActionLink("Productions", "Index", "Productions", new { Area = "Prod" }, new { @class = "dropdown-item dropdowntxt" })
                            @Html.ActionLink("Calendar Events", "Index", "CalendarEvents", new { Area = "Prod" }, new { @class = "dropdown-item dropdowntxt" })
                        </div>
                    </li>

                    <!-- Mobile: Rental dropdown -->
                    <li class="nav-item navbar-hamburger--navitem">
                        <a class="nav nav-link dropdown-toggle navbar-hamburger--navlink" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rental</a>
                        <div class="dropdown-menu dropdownbckgrndclr">
                            @Html.ActionLink("Rental Requests", "Index", "RentalRequests", new { Area = "Rent" }, new { @class = "dropdown-item dropdowntxt" })
                            @Html.ActionLink("Rental", "Index", "Rentals", new { Area = "Rent" }, new { @class = "dropdown-item dropdowntxt" })
                            @Html.ActionLink("Rental Histories", "Index", "RentalHistories", new { Area = "Rent" }, new { @class = "dropdown-item dropdowntxt" })
                            @Html.ActionLink("Rental Survey", "Index", "RentalSurvey", new { Area = "Rent" }, new { @class = "dropdown-item dropdowntxt" })
                        </div>
                    </li>

                    <!-- Mobile: Blog dropdown -->
                    <li class="nav-item dropdown navbar-hamburger--navitem">
                        <a class="nav nav-link dropdown-toggle navbar-hamburger--navlink" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                        <div class="dropdown-menu dropdownbckgrndclr">
                            @Html.ActionLink("Blog Posts", "Index", "BlogPosts", new { Area = "Blog" }, new { @class = "dropdown-item dropdowntxt" })
                            @Html.ActionLink("Comments", "Index", "Comments", new { Area = "Blog" }, new { @class = "dropdown-item dropdowntxt" })
                            @Html.ActionLink("Blog Authors", "Index", "BlogAuthors", new { Area = "Blog" }, new { @class = "dropdown-item dropdowntxt" })
                            @Html.ActionLink("Blog Photos", "Index", "BlogPhotoes", new { Area = "Blog" }, new { @class = "dropdown-item dropdowntxt" })
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <!-- DESKTOP NAV -->
        <ul class="nav">

            <!-- Desktop: Home -->
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Index">TheatreCMS</a>
            </li>

            <!-- ⭐ DESKTOP: Developers Link Added -->
            <li class="nav-item">
                @Html.ActionLink("Developers", "SignIn", "Home", null, new { @class = "nav-link" })
            </li>

            <!-- Desktop: Production -->
            <li class="nav nav-item dropdown">
                <a class="nav nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    Production
                </a>
                <div class="dropdown-menu dropdownbckgrndclr">
                    @Html.ActionLink("Cast Members", "Index", "CastMembers", new { Area = "Prod" }, new { @class = "dropdown-item dropdowntxt" })
                    @Html.ActionLink("Production Photos", "Index", "ProductionPhotoes", new { Area = "Prod" }, new { @class = "dropdown-item dropdowntxt" })
                    @Html.ActionLink("Productions", "Index", "Productions", new { Area = "Prod" }, new { @class = "dropdown-item dropdowntxt" })
                    @Html.ActionLink("Calendar Events", "Index", "CalendarEvents", new { Area = "Prod" }, new { @class = "dropdown-item dropdowntxt" })
                </div>
            </li>

            <!-- Desktop: Rental -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    Rental
                </a>
                <div class="dropdown-menu dropdownbckgrndclr">
                    @Html.ActionLink("Rental Requests", "Index", "RentalRequests", new { Area = "Rent" }, new { @class = "dropdown-item dropdowntxt" })
                    @Html.ActionLink("Rental", "Index", "Rentals", new { Area = "Rent" }, new { @class = "dropdown-item dropdowntxt" })
                    @Html.ActionLink("Rental Histories", "Index", "RentalHistories", new { Area = "Rent" }, new { @class = "dropdown-item dropdowntxt" })
                    @Html.ActionLink("Rental Survey", "Index", "RentalSurvey", new { Area = "Rent" }, new { @class = "dropdown-item dropdowntxt" })
                </div>
            </li>

            <!-- Desktop: Blog -->
            <li class="nav-item dropdown">
                <a class="nav nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    Blog
                </a>
                <div class="dropdown-menu dropdownbckgrndclr">
                    @Html.ActionLink("Blog Posts", "Index", "BlogPosts", new { Area = "Blog" }, new { @class = "dropdown-item dropdowntxt" })
                    @Html.ActionLink("Comments", "Index", "Comments", new { Area = "Blog" }, new { @class = "dropdown-item dropdowntxt" })
                    @Html.ActionLink("Blog Authors", "Index", "BlogAuthors", new { Area = "Blog" }, new { @class = "dropdown-item dropdowntxt" })
                    @Html.ActionLink("Blog Photos", "Index", "BlogPhotoes", new { Area = "Blog" }, new { @class = "dropdown-item dropdowntxt" })
                </div>
            </li>

        </ul>

        @Html.Partial("_LoginPartial")
    </div>
</nav>
