@{
    ViewBag.Title = "Home Page";
}

<!-- Centered logo under navbar -->
<div class="home-hero">
    <img src="@Url.Content("~/Content/images/TheatreLogo.png")" alt="Theatre Vertigo Logo" />
</div>

<div class="row home-columns">
    <!-- LEFT: Spotlight (2/3 width) -->
    <div class="col-md-8">
        <h2 class="section-title">Spotlight</h2>

        <div class="spotlight-stack">
            <img src="@Url.Content("~/Content/images/DollsHouse.png")" alt="A Doll's House poster" />
            <img src="@Url.Content("~/Content/images/Tempest.png")" alt="The Tempest poster" />
        </div>
    </div>

    <!-- RIGHT: Donations + Sponsors (1/3 width) -->
    <div class="col-md-4">
        <h2 class="section-title">Donations</h2>
        <div class="donation-card">
            <button type="button" class="btn btn-support">Click to Support</button>
        </div>

        <h2 class="section-title">Sponsors</h2>
        <div class="sponsor-row">
            <img src="@Url.Content("~/Content/images/Sponsors/RACC.png")" alt="RACC" />
            <img src="@Url.Content("~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png")" alt="OCF" />
            <img src="@Url.Content("~/Content/images/Sponsors/Ninkasi-white-text.png")" alt="Ninkasi" />
            <img src="@Url.Content("~/Content/images/Sponsors/Ellyn-Bye-Logo.png")" alt="Ellyn Bye" />
        </div>
    </div>
</div>

<!-- LAND ACKNOWLEDGEMENT -->
<div class="land-ack row">
    <div class="col-md-8">
        <h2 class="section-title">Land Acknowledgement</h2>

        <p>
            Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional tribal lands of the
            Multnomah, Wasco, Clackamas, Chinook bands, Kathlamet, Tualatin Kalapuya, Cowlitz, Molalla, Cascades,
            Oregon City Tumwater, Confederated Tribes of the Grand Ronde and other Indigenous peoples.
        </p>
        <p>We are on stolen land.</p>
        <p>
            Theatre Vertigo has been and continues to examine our community relationships to ensure our collaborators,
            partners and sponsors support the region’s Indigenous Nations and communities.
        </p>
        <p>
            One of the ways Theatre Vertigo is working to act on our commitment to being of service to the lands that
            we now share is to build bridges between our arts community and local Nations.
        </p>
    </div>

    <div class="col-md-4 text-center">
        <a href="https://nayapdx.org/" target="_blank" rel="noopener">
            <img class="land-img" src="@Url.Content("~/Content/images/NAYAFamilyCenter.jpg")" alt="NAYA Family Center" />
        </a>
        <div class="naya-caption">
            Click to visit the NAYA Family Center to learn more about supporting our local Indigenous communities.
        </div>
    </div>
</div>
